
<div class="<%= sport_cover_css_class(@sport_names) %>">
  <div class="container">
    <div class= "slogan">
      <h1 class="title">LES COURSES QUI<br>POURRAIENT TE PLAIRE</h1>
    </div>
  </div>
</div>
<div class="box">
  <%= link_to root_path, class: "link-back-root" do%>
    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
    <span class= "link-back-root-text">        trouve une autre course</span>
  <% end %>
<div class="results-wrapper-index">
  <div class="container_index-full">
    <div class="row">
      <div class="col-xs-6 col-sm-8 col-md-8">
        <div class="row">
          <% @races.each do |race| %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <%= link_to race_path(race) do %>
                <div class="card-index" style="<%= "background-image: url('#{cl_image_path race.picture, effect: "grayscale"}'); background-size: cover;"%>">
                  <div class="card-date-J-index"> J - <%=(race.date - Date.today).to_i %></div>
                  <div class="level-sticker">
                  <% if race.level == "débutant" %>
                    <span class="label label-success">Débutant</span>
                  <% elsif race.level == "intermédiaire" %>
                    <span class="label label-warning">Intermédiaire</span>
                  <% elsif race.level == "expert" %>
                    <span class="label label-danger">Expert</span>
                  <% end %>
                  </div>
                  <div class="card-description-race-index text-center" style="<%= "background: #{multi_linear_background_for(race.sports)};"%>">
                      <p><%= l(race.date, format: '%d %B %Y') %></p>
                      <h2><%= race.name.upcase %></h2>
                      <h4><%= race.total_distance %> km</h4>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

        <div class="col-xs-6 col-sm-4 col-md-4">
          <div id="map" style="width: 100%; height: 700px;">
          </div>

          <% content_for(:after_js) do %>
            <script>
              $(document).ready(function() {
                var handler = Gmaps.build('Google');
                handler.buildMap({ internal: { id: 'map' } }, function() {
                  markers = handler.addMarkers(<%= raw @place_markers_hash.to_json %>);
                  console.log(markers);
                  handler.bounds.extendWith(markers);
                  handler.fitMapToBounds();
                  if (markers.length == 0) {
                    handler.getMap().setZoom(10);
                  } else if (markers.length == 2) {
                    handler.getMap().setZoom(8);
                  }
                });
              });
            </script>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
