<div class="wrapper">
  <div class="filters-wrapper">
    <div class="box">
      <div class="box-title">
        <h3>Je cherche une course</h3>
      </div>


      <div class= "form-group form-items">
        <!-- Insertion code propre de home page + ajout champs "Niveau" & "Prix" -->
      </div>
    </div>
  </div>
  <div class="results-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-8">
          <div class="card_show">
          <div class="row">
            <% @races.each do |race| %>
              <div class="col-xs-6 col-sm-6">
                  <div class="card-index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url('<%= cl_image_path race.picture, height: 300, width: 400, crop: :fill %>');">
                    <div class="card-category-index"> J - <%=(race.date - Date.today).to_i %></div>
                      <div class="card-description">
                        <h2></h2>
                         <p></p>
                      </div>
                        <a href="#" class="card-link"></a>
                  </div>

                <%= link_to race_path(race) do %>
                  <div class="race-card">
                    <li class="list-group-item"><%=race.name %></li>
                    <a class="list-group-item"><%=race.total_distance%> km | <%=race.level%> | <%=race.date%></a>

<!-- rajouter les amis intéressés et ceux inscrits -->
                  </div>
                <% end %>
              </div>
             <% end %>
          </div>
        </div>
      </div>

        <div class="col-xs-6 col-sm-4">
          <div id="map" style="width: 120%; height: 700px;"></div>

            <% content_for(:after_js) do %>
              <script>
                $(document).ready(function() {
                  var handler = Gmaps.build('Google');
                  handler.buildMap({ internal: { id: 'map' } }, function() {
                    markers = handler.addMarkers(<%= raw @place_markers_hash.to_json %>);
                    console.log(markers);
                    handler.bounds.extendWith(markers);
                    handler.fitMapToBounds();
                    if (markers.length == 0) {
                      handler.getMap().setZoom(6);
                    } else if (markers.length == 1) {
                      handler.getMap().setZoom(8);
                    }
                  });
                });


               </script>
              <% end %>





        </div>
      </div>
    </div>
  </div>
</div>


