<div class="raceshow-wrapper" style="<%= "background-image: #{multi_linear_background_for(@race.sports)}, url('#{cl_image_path @race.picture, effect: "grayscale"}'); background-size: cover;" %>">
  <div class="container">
    <div class="event-info">
      <div class="event-keypoints">
        <p><%= @race.date %></p>
        <h1 id="event-title"><%= @race.name.upcase %></h1>
        <h3 class="bulletpoints"><%= @race.total_distance %> km - <%= @race.location%><%= link_to "En savoir +", @race.official_event_url, class: "link" %></h3>
      </div>
    </div>
  </div>
  <div class="level-sticker">
    <% if @race.level == "débutant" %>
      <span class="label label-success">Débutant</span>
    <% elsif @race.level == "intermédiaire" %>
      <span class="label label-warning">Intermédiaire</span>
    <% elsif @race.level == "expert" %>
      <span class="label label-danger">Expert</span>
    <% end %>
  </div>
</div>
<div class="trail-map-and-interested-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="trail-map">
            <%= cl_image_tag @race.trail_map_picture %>
        </div>
      </div>
      <div class="col-xs-6">
          <div class="interested-description text-center">
            <div class="description-text">
              <%= @race.description %>
            </div>
              <%= submit_tag "CA M'INTÉRESSE !", class: "btn-interested"%>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
