<!-- <div class="banner-interested">
  <div class="text-interested">
    <%= submit_tag "CA M'INTÉRESSE !"%>
  </div>
</div> -->

  <div class="raceshow-wrapper" style="background-image: /*linear-gradient(-225deg, #{linear_backgrounds_for(@race.sports)})*/url('<%= cl_image_path @race.picture %>'); background-size: cover;">
    <div class="event-info">
      <div class="event-keypoints">
        <h1 class="event-title"><%= @race.name.upcase %></h1>
        <p class="bulletpoints"><%= @race.date %></p>
        <p class="bulletpoints"><%= @race.total_distance %> km - <%= @race.location%><%= link_to "En savoir +", @race.official_event_url, class: "link" %></p>

      </div>
    </div>
    <div class="level-sticker">
      <% if @race.level == "débutant" %>
        <span class="label label-success">Débutant</span>
      <% elsif @race.level == "intermédiaire" %>
        <span class="label label-warning">Intermédiaire</span>
      <% elsif @race.level == "expert" %>
        <span class="label label-danger">Expert</span>
      <% end %>
    </div>
  </div>
<div class="trail-map-and-interested-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="trail-map">
            <%= cl_image_tag @race.trail_map_picture %>
        </div>
      </div>
      <div class="col-xs-6">
          <div class="interested-description">
            <div class="description-text">
              <%= @race.description %>
            </div>
              <%= submit_tag "CA M'INTÉRESSE !", class: "btn-interested"%>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


