<div class="raceshow-wrapper" style="<%= "background-image: #{multi_linear_background_for(race.sports)}, url('#{cl_image_path @race.picture, effect: "grayscale"}'); background-size: cover;" %>">
  <div class="container">
    <div class="event-info">
      <div class="event-keypoints">
        <p><%= race.date %></p>
        <h1 id="event-title"><%= race.name.upcase %></h1>
        <h3 class="bulletpoints"><%= race.total_distance %> km - <%= race.location%><%= link_to "En savoir +", race.official_event_url, class: "link" %></h3>
      </div>
    </div>
  </div>
  <div class="level-sticker">
    <% if race.level == "débutant" %>
      <span class="label label-success">Débutant</span>
    <% elsif race.level == "intermédiaire" %>
      <span class="label label-warning">Intermédiaire</span>
    <% elsif race.level == "expert" %>
      <span class="label label-danger">Expert</span>
    <% end %>
  </div>
</div>
<div class="trail-map-and-interested-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="trail-map">
            <%= cl_image_tag race.trail_map_picture %>
        </div>
      </div>

      <div class="col-xs-6">
        <% if view_mode == "race_group" %>
          <div class="race-group-friends">
                <h2>MES AMIS DU GROUPE :</h2>
                  <% @members.each do |member| %>
                  <% if member.facebook_picture_url.nil? %>
                    <%= image_tag "http://lorempixel.com/50/50/" %>
                    <% else %>
                    <%= image_tag member.facebook_picture_url %>
                    <% end %>
                  <% end %>
                <% if group_membership %>
                  <div>

                    <%= group_membership.status %>
                    <p>inviter vos amis</p>
                    <div class="fb-share-button" data-href="<%= race_group_url(race_group) %>" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%= race_group_url(race_group) %>&amp;src=sdkpreparse">Invite tes potes</a></div>

                  </div>
                <% else %>
                  <p><%= race_group.user.first_name %> vous invite a rejoindre cette superbe compet :)</p>
                <% end %>
            </div>
          <% end %>

          <div class="interested-description text-center">
            <div class="description-text">
              <%= race.description %>
            </div>
            <% if view_mode == "race" %>
              <% if group_membership %><!-- current user already member -->
                <%= link_to "VOIR MON GROUPE", race_group_path(race_group), class: "btn-interested" %>
                <% else %>
                <%= link_to "CA M'INTÉRESSE !", race_race_groups_path(race), method: :post, class: "btn-interested"%>
              <% end %>
            <% else %><!-- race group view -->
              <% if group_membership.nil? %><!-- current user NOT member yet -->
                <%= link_to "JE SUIS INTÉRESSÉ !", race_race_group_group_memberships_path(race.id, race_group.id), method: :post, class: "btn-interested"%>
              <% elsif group_membership.status == "Intéressé" %><!-- current user interested -->
                <%= link_to "JE CONFIRME MA PRÉSENCE !", confirm_group_membership_path(group_membership), method: :patch, class: "btn-interested"%>
              <% elsif group_membership.status == "Confirmé" %>
                <%= link_to "JE DOIS ANNULER :/", cancel_group_membership_path(group_membership), method: :patch, class: "btn-interested"%>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8&appId=1469335619785605";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<% end %>
