<div class="wrapper-cover-picture">
  <div class="container">
    <div class= "slogan">
      <h1>Trouvez des courses <br>entre copains.<br><strong>Simplement.</strong></h1>
    </div>
    <div class="box-wrapper">
      <div class="box">
        <div class="box-title">
          <h3>Je cherche une course</h3>
        </div>
        <!-- <form action="\" class="form-inline">
          <div class= "form-group">
            <label for="place">Lieu :</label>
            <input type="place" class="form-control" placeholder="Où?">
          </div>
          <div class= "form-group">
            <label for="date">Date :</label>
            <input type="date" class="form-control" placeholder="Quand?">
          </div> -->
          <div class= "form-group form-items">
            <%= form_tag races_path, method: :get do %>
              <div class="form-item1">
                <%=  label_tag 'place', 'le :', class: "labels-font" %>
                <%= search_field :search, :place, placeholder: 'Où ?' %>
                <%= label_tag 'search', 'vers :', class: "labels-font"  %>
                <%= date_field :search, :date, placeholder: 'Quand ?' %>
              </div>
          <!--
            <label for="sports">Sport(s) :</label>

          </div> -->
              <div class="form-item2">
              <!--   <div class="container-box">
                  <div class="row"> -->
                    <%= label_tag 'sports', 'Sport(s) :', class: "labels-font"  %>
                    <!-- <div class="col-xs-4">
                      <div class="swimming"></div>
                    <div class="col-xs-4">
                      <div class="running"></div>
                    </div>
                    <div class="col-xs-4">
                      <div class="cycling"></div>
                    </div> -->
                    <% @sports.each do |sport| %>
                      <%= label_tag '', nil do %>
                        <%= check_box_tag "search[sports_ids][]", sport.id, nil, class: "hide_checkbox" %>
                        <%= sport.name %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
              <!-- <input type="submit" value="Recherche" class="search-btn" > -->
              <!-- </form> -->
              <div class="form-item3 text-center">
                <%= submit_tag "RECHERCHE", class: ""%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
