<div class="wrapper-cover-picture">
  <div class="container">
    <div class= "slogan">
      <h1 class="title">TROUVE TA COURSE, <br>INVITE TES POTES.</h1>
    </div>
  </div>
</div>
<div class="box">
  <div class= "form-group form-items">
    <%= form_tag races_path, method: :get do %>
      <div class="form-item1">
        <% @sports.each do |sport| %>
          <%= label_tag '', nil, class: "buttons-sports", style: "background-image: linear-gradient(-225deg, #{linear_background_for(sport)} 60%, rgba(255, 255, 255, 0.5) 100%), url('#{image_path picture_path_for(sport)}'); background-size: cover;" do %>
            <%= check_box_tag "search[sports_name][]", sport.name, nil, class: "hide_checkbox" %>
            <p class="sports-label"><%= placeholder_for(sport) %></p>
          <% end %>
        <% end %>
      </div>
      <div class="form-item2">
        <%= search_field :search, :place, placeholder: 'OÙ ?', class: "search-form", style: "text-align: center" %>
        <%= date_field :search, :date, placeholder: 'QUAND ?', class: "search-form", style: "text-align: center", id: "datepicker" %>
      </div>
      <div class="form-item3 text-center">
        <%= submit_tag "GO !", class: "btn-search"%>
      </div>
    <% end %>
  </div>
</div>

<% content_for(:after_js) do %>
  <script src="pikaday.js"></script>
  <script>
    var picker = new Pikaday({ field: $('#datepicker')[0] });
  </script>
<% end %>
